* {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

.screenContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

/* left navbar start */

.leftContainerDiv {
  flex: 0.05;
  position:fixed;
  width: 5vw;
  height: 100vh;
  background-color: black;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}
.leftContainerDiv:hover{
  width: 13%;
  display: flex;
  flex-direction: column;
}
.leftContainerDiv ul{
  position: absolute;
  top:0;
  left:0;
  width :100%;
}
.leftContainerDiv ul .tileOption{
  position: relative;
  width :100%;
  list-style: none;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
  padding-left: 1.2vw;
  vertical-align: middle;
}
.leftContainerDiv ul .tileOption:hover{
  background-color: #5FCA72;
  vertical-align: middle;
}
.leftContainerDiv ul .tileOption .left_aTag{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 0.6vw;
}
.leftContainerDiv ul .tileOption .left_aTag .imageIcon{
  position: relative;
  display: block;
  min-width: 2vw;
  height: 2vw;
  padding: 0.3vw;   
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  background-color: #5FCA72;
  box-shadow: 0px 0px 10px #86ea6d;
}
.leftContainerDiv ul .tileOption .left_aTag .imageIcon .linkText{
  position: relative;
  height: 2vw;
  line-height: 1.5vh;
  padding-left: 1.2vw;
  /* text-align: start; */
  /* white-space: nowrap; */
  }
  .linkText h3{
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 500;
  padding-left: 1.25vw;
  font-size: 1.8vh;
  color: whitesmoke;
}
/* left navbar end */

.leftPaddingDiv {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 10%;
}

.middleContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 70%;
}
.middleBodyTopHeading {
  padding: 2vh;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.rightPaddingDiv {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 10%;
}

.rightContainerDiv {
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 100vh;
  align-items: center;
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  overflow: hidden;
  white-space: nowrap;

  right: 0;
  position: fixed;
  align-items: flex-start;

  transition: 0.5s ease-in;
}
/* .rightContainerDiv:hover {
  width: 15%;
  align-items: flex-start;
  padding-left: 10px;

  right: 0;
  position: fixed;
  align-items: flex-start;
} */

.allGroupsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 80vh;
}

.groupRowClass {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  padding: 2vw;
  margin: 2vh;

  height: 50%;
}

.groupDiv {
  display: flex;
  flex-direction: column;
  background-color: #5fca72;
  width: 22.5%;
  height: 100%;
  border-radius: 18px;

  cursor: pointer;
}
